html, body, #root {
  height: 100;
  overflow: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appSection {
  background-color: #1f1d20e5;
  min-height: 80vh;
}

.smallIcon {
  cursor: pointer;
  width: 5vh;
  margin: 0 3vh;
  fill: #00adb5
}

.smallIcon:hover {
  fill: #eeeeee;
  background-color: #00adb5;
  border-radius: 20%;
}

.navIcon {
  cursor: pointer;
  height: 5vh;
  fill: #00adb5;
}

.navIcon:hover {
  fill: #eeeeee;
  background-color: #00adb5;
  border-radius: 20%;
}

.stickyTop {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.projectImage {
  width: 100%;
  margin: auto;
}

.btnClear {
  background-color: transparent;
  border: transparent
}